/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set box-sizing to border-box for all elements */
* {
  box-sizing: border-box;
}

/* Apply basic styling to body */
/*body {
  font-family: Arial, sans-serif;
  background-color: #121314;
  margin: 0;
  padding: 0;
  background: url('.png') no-repeat center center fixed;
  background-size: contain;  display: flex;
  justify-content: center;

  align-items: center;
  height: 100vh;
}*/
body {
  background-color: #c7c1ac; /* Lighter color for the entire page background */
  color: #093960; /* Darker color for the text inside the container */

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.background-image {
  position: fixed;
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('login.png'); /* Adjust with your image path */
  background-size: contain;
  background-repeat: no-repeat;



}

.header-container {
  background-color: #383321; /* Black background color for the header container */
  padding: 10px; /* Adjust padding for the header container */
  text-align:center;
  position: absolute;
  top: 400px;
  left:110px;
  width:20%; 
  margin-left: 150px;/* Center the text horizontally within the container */
}
.header {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #f3ea9f;
  margin-top: 5px 0;
}





/* Styling for registration button */
#registrationButton {
  /* position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #3498db;
  cursor: pointer; */
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #5e8a75;
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding to make the button wider */
  font-size: 14px; /* Increase font size for better visibility */
  border: none;
  border-radius: 5px; /* Increase border radius for a rounded look */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */

}

#registrationButton:hover {
  background-color: #365445;
  color: #fff;
}

#registrationCustomerButton {
  /* position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #3498db;
  cursor: pointer; */
  position: fixed;
  top: 10px;
  right: 210px;
  z-index: 1000;
  background-color: #5e8a75;
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding to make the button wider */
  font-size: 14px; /* Increase font size for better visibility */
  border: none;
  border-radius: 5px; /* Increase border radius for a rounded look */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */

}

#registrationCustomerButton:hover {
  background-color: #365445;
  color: #fff;
}

.btn_back {
  /* position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #3498db;
  cursor: pointer; */
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #dde33e;
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding to make the button wider */
  font-size: 14px; /* Increase font size for better visibility */
  border: none;
  border-radius: 5px; /* Increase border radius for a rounded look */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */

}

.btn_back:hover {
  background-color: #575e24;
  color: #fff;
}

/* Container styling */
.login-container,
.registration-customer-container,
.registration-container {
  background-color: #5e8a75;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(225, 219, 204, 0.2);
  width: 300px;
  max-width: 100%;
  height: 75%;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #181003;
  margin-right: 50px;
}

/* Form element styling */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #f5efef;
  border-radius: 3px;
  background-color: #272828;
  color: #fff;
}

.btn {
  background-color: #f2e398;
  color: #1e1101;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #b9aa29;
}


/* Adjustments for specific elements */
.login-form {
  margin-top: 20px;
}

/* Align form labels to left */
.form-group label {
  text-align: left;
}

/* Additional styles for h2 in registration container */
.registration-container h2 {
  margin-bottom: 20px;
}

/* Add space above the error message */
.error {
  margin-top: 10px;
}
